body {
    font-family: 'Georgia', 'comic sans ms', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.095);
    color: black;
}

.header {
    background-color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.footer {
    background-color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

.container {
    position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-top: 150px;
    opacity: 0.9;
}

.main-content {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 90%;
    text-align: center;
    /* Centers text inside */
}

.upload-button {
    background-color: #FFA500;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    font-weight: normal;
}

.upload-button:hover {
    background-color: #B35900;
    transform: scale(1.05);
}

.recipe-icon {
    font-size: 4rem;
    margin-bottom: 20px;
}

h1 {
    color: green;
    margin-bottom: 10px;
}

p {
    color: black;
    margin-bottom: 20px;
}

.footer p {
    color: black;
}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 0.6;
    /* Adjust transparency */
}

.menu {
    background-color: #FFA500;
    border-radius: 10px;
    border: white;
    color: white;
}